/* mobile friendly  */

/* font family  */
/* https://fonts.google.com/specimen/Rubik#standard-styles */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#device {
  display: contents;
  background: #eee;
  width: 100%;
  height: 100%;
  position: absolute;
}
.resize {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
ul.resize {
  height: 40px;
  border: 3px solid green;
  /* position: relative;
  padding:5%; */
}

ul.resize li {
  font-size: 1em;
  list-style: none;
  padding: 10px;
  float: left;
}

.resize li:hover {
  color: red;
}

#wrapper {
  overflow-wrap: break-word;
  overflow: auto;

  margin-left: auto;
  margin-right: auto;
  background: rgb(173, 0, 0);
  /* background: #ccc; */
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 875px) {
  /* ul.resize #btndesktop{
        display: none;
      }   */
  ul.resize #btndesktop {
    display: none !important;
  }
}
@media screen and (max-width: 585px) {
  /* ul.resize #btndesktop{
          display: none;
        }   */
  ul.resize #btntablet {
    display: none !important;
  }
}
